[v-cloak]{
  display: none !important;
}
.section-list{
  padding: 0 10px;
  h2{
    font-size: 24px;
    margin: 20px 0;
  }
  .row-list{
    display: flex;
    flex-flow: row wrap;
    justify-content: left;
    overflow: hidden;
    width: 100%;
  }

  .col-list{
    flex: 1;
    padding-right: 6%;
    
    // 标签
    .list-tag-selected{
      display: none;
    }
    .list-tag{
      background: #f7fbff;
      border-radius: 3px;
      a{
        display: inline-block;
        padding: 0 13px;
        font-size: 16px;
        color: $title;
        cursor: pointer;
        line-height: 30px;
        margin: 10px;
      }
      a.active, a:hover{
        background: $primary;
        color: #fff;
        border-radius: 3px;
      }
    }

    // 排序
    .list-select{
      padding: 20px 0;
      font-size: 16px;
      color: $note;
      span{
        cursor: pointer;
        &.active{
          color: $blue;
        }
        &:first-child:after{
          content: '|';
          color: $border;
          padding: 0 13px;
        }
        
      }
    }

    // 文章列表
    .list-item{
      padding: 30px 0;
      border-top: 1px solid $border;
      display: flex;
      overflow: hidden;
      width: 100%;

      &:last-child{
        border-bottom: 1px solid $border;
      }

      .col-3{
        flex: 0 0 220px;
        margin-right: 3%;
        img{
          width: 100%;
          height: auto;
        }
      }
      .col-9{
        flex: 1;
        position: relative;
        h3{
          font-size: 18px;
          font-weight: normal;
          margin-bottom: 6px;
          @include text-overflow(2, 18px);
          &:hover{
            color: $primary;
          }
        }
        >p{
          @include text-overflow(2, 14px);
        }
        >div{
          position: absolute;
          bottom: 0;
          left: 0;
          color: $note;
          font-size: 12px;
          width: 100%;
          line-height: 20px;
        }
        .item-avatar{
          width: 20px;
          height: 20px;
          vertical-align: bottom;
          margin-right: 10px;
          border-radius: 20px;
        }
        .item-name, .item-date{
          &:after{
            content: '|';
            color: $note;
            padding: 0 7px;
          }
        }
        .item-like{
          width: 12px;
          height: auto;
          vertical-align: text-top;
          vertical-align: text-top;
          margin-right: 5px;
        }
        .item-tag-group{
          float: right;
          display: inline-block;
        }
        .item-tag{
          padding-left: 30px;
        }
      }
    }
  }

  // 文章列表广告
  .col-ad{
    flex: 0 0 25%;
    text-align: center;
    border: 1px solid $border;
    border-top: 3px solid $primary;
    border-radius: 3px;
    height: 330px;
    
    h3{
      font-size: 18px;
      color: $font;
      margin: 30px 0;
      font-weight: normal;
    }
    img{
      width: 120px;
    }
    p{
      margin-top: 30px;
    }
  }
}

// 骨架屏
@keyframes ant-skeleton-loading{
  0%{background-position:100% 50%}
  100%{background-position:0 50%}
}
.list-item-skeleton{
  .col-3{
    width: 100%;
    height: 110px;
    background: linear-gradient(90deg, #f2f2f2 25%, #e6e6e6 37%, #f2f2f2 63%);
    animation: ant-skeleton-loading 1.4s ease infinite;
    background-size: 400% 100%;
  }
  .col-9{
    h3,p,div{
      height: 20px;
      background: linear-gradient(90deg, #f2f2f2 25%, #e6e6e6 37%, #f2f2f2 63%);
      animation: ant-skeleton-loading 1.4s ease infinite;
      background-size: 400% 100%;
    }
    h3{
      width: 50%;
    }
  }
}
// 底线
.list-bottom{
  text-align: center;
  color: $note;
  line-height: 80px;
  font-size: 16px;
  &::before, &::after{
    content: '';
    display: inline-block;
    width: 52px;
    height: 1px;
    background:$note;
    vertical-align: middle;
    margin: 0 10px;
  }
}

@media screen and (max-width:1000px){
  .section-list{
    .col-ad{
      display: none;
    }
    .col-list{
      padding: 0;
    }
  }
}

@media screen and (max-width:576px){
  .section-list{
    padding: 0;
    h2{
      display: none;
    }
    .col-list{
      padding-top: 100px;
      .list-tag-selected{
        display: block;
        line-height: 40px;
        text-align: center;
        background-color: #f1f8ff;
        color: $primary;
        position: fixed;
        top: 60px;
        width: 100%;
        z-index: 10;
        font-weight: bold;
        svg{
          vertical-align: sub;
        }
      }
      .mask{
        width: 100%;
        height: 100%;
        background: rgba(0,0,0,0.2);
        position: fixed;
        top: 100px;
        left: 0;
        z-index: 10;
      }
      .list-tag{
        padding: 0px;
        border: none;
        background: #fff;
        position: fixed;
        width: 100%;
        top: 100px;
        z-index: 10;
        border-radius: 0;
        font-size: 0;
        a{
          flex: 0 0 33.3%;
          display: inline-block;
          width: 33.3%;
          font-size: 14px;
          color: $font;
          padding: 9px 0;
          text-align: center;
          border-right: 1px solid $border;
          border-bottom: 1px solid $border;
          margin: 0;
          &:nth-child(3n+3){
            border-right: none;
          }
          &.active{
            background: #fff;
            color: $font;
            border-radius: 0;
          }
        }

      }

      .list-select{
        display: none;
      }
      .list-item{
        padding: 15px 0;
        margin: 0 0 0 10px;
        width: auto;

        &:first-child{
          border-top: none;
        }
        .col-3{
          flex: 0 0 90px;
        }
        .col-9{
          padding-right: 10px;
          h3{
            font-size: 14px;
            margin: 0;
            min-height: 38px;
          }
          >div{
            font-size: 10px;
            line-height: 1;
            position: static;
            margin-top: 5px;
          }
          >p,
          .item-avatar,
          .item-name,
          .item-date:after{
            display: none;
          }
          .item-tag{
            padding-left: 10px;
            line-height: 1.5;
          }
          .item-date{
            margin-right: 10px;
          }
        }
      }
    }
  }
  .list-item-skeleton{
    .col-3{
      height: 55px;
    }
    .col-9{
      h3{
        margin-bottom: 23px !important;
      }
      h3,p,div{
        height: 16px !important;
        min-height: 0 !important;
      }
    }
  }
  .list-bottom{
    font-size: 14px;
  }
}