.section-list{
  padding: 0 10px;
  h2{
    font-size: 24px;
    margin: 20px 0;
  }
  .row-list{
    display: flex;
    flex-flow: row wrap;
    justify-content: left;
    overflow: hidden;
    width: 100%;
  }

  .col-list{
    flex: 1;
    padding-right: 80px;
    
    // 标签
    .list-tag{
      background: #f7fbff;
      border-radius: 3px;
      padding: 10px;
      a{
        display: inline-block;
        padding: 7px 13px;
        font-size: 16px;
        color: $title;
      }
      a.active{
        background: $primary;
        color: #fff;
        border-radius: 3px;
      }
    }

    // 排序
    .list-select{
      padding: 20px 0;
      font-size: 16px;
      color: $note;
      span{
        &.active{
          color: $blue;
        }
        &:first-child:after{
          content: '|';
          color: $note;
          padding: 0 13px;
        }
        
      }
    }

    // 文章列表
    .list-item{
      padding: 30px 0;
      border-top: 1px solid $border;
      display: flex;
      overflow: hidden;
      width: 100%;
      .col-3{
        flex: 0 0 27%;
        padding-right: 3%;
        img{
          width: 100%;
          height: auto;
        }
      }
      .col-9{
        flex: 0 0 70%;
        position: relative;
        h3{
          font-size: 18px;
          font-weight: normal;
          margin-bottom: 6px;
          @include text-overflow(2, 18px);
          &:hover{
            color: $primary;
          }
        }
        >p{
          @include text-overflow(2, 14px);
        }
        >div{
          position: absolute;
          bottom: 0;
          left: 0;
          color: $note;
          font-size: 12px;
          width: 100%;
          line-height: 20px;
        }
        .item-avatar{
          width: 20px;
          height: 20px;
          vertical-align: bottom;
          margin-right: 10px;
        }
        .item-name, .item-date{
          &:after{
            content: '|';
            color: $note;
            padding: 0 7px;
          }
        }
        .item-like{
          width: 12px;
          height: auto;
          vertical-align: text-top;
          vertical-align: text-top;
          margin-right: 5px;
        }
        .item-tag{
          float: right;
          padding-left: 30px;
        }
      }
    }
  }

  // 文章列表广告
  .col-ad{
    flex: 0 0 300px;
    text-align: center;
    border: 1px solid $border;
    border-top: 3px solid $primary;
    border-radius: 3px;
    height: 330px;
    
    h3{
      font-size: 18px;
      color: $font;
      margin: 30px 0;
      font-weight: normal;
    }
    img{
      width: 120px;
    }
    p{
      margin-top: 30px;
    }
  }
}