.article{
  display: flex;
  margin-top: 50px;
  padding: 0 10px;

  .article-content{
    flex: 1;
    padding-right: 4%;
    h1{
      font-size: 30px;
      text-align: left;
      padding: 0;
      &:after{
        display: none;
      }
    }
    .article-info{
      margin: 25px 0;
      color: $note;
      img{
        width: 24px;
        height: 24px;
        vertical-align: middle;
        margin-right: 8px;
        border-radius: 24px;
      }
      .article-author{
        color: $font;
        margin-right: 8px;
      }
      .article-date{
        &:before{
          content: '|';
          margin-right: 8px;
        }
      }
      .article-tag{
        float: right;
        padding: 0 8px;
      }
    }
  }

  .article-raw{
    span, img{
      max-width: 100%;
    }
  }
}

// 点赞
.like{
  text-align: center;
  margin: 20px 0;
  color: $note;
  >div{
    width: 70px;
    height: 70px;
    border-radius: 70px;
    margin: 0 auto;
    border: 1px solid $border;
    padding-top: 15px;
    cursor: pointer;

    svg{
      fill: #d4d6d9;
    }
    div{
      font-size: 12px;
      margin-top: 2px;
    }
    &:hover, &.liked{
      color: $blue;
      border: 1px solid $blue;
      svg{
        fill: $primary;
      }
    }
    &.liked{
      cursor: initial;
    }
  }
  p{
    margin-top: 15px;
    font-size: 12px;
    color: $note;
  }
}

// 上一篇，下一篇
.article-nav{
  border-top: 1px solid $border;
  padding: 20px 0;
  
  >a, >div {
    display: inline-block;
    width: auto;
    max-width: 35%;
    min-width: 15%;
    vertical-align: text-top;
    padding: 15px;
    >p{
      margin-top: 10px;
      font-size: 14px;
    }
  }
  >a{
    &:hover{
      box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.05);
    }
    p{
      color: $title;
      
    }
  }
  .prev{
    div{
      border-left: 4px solid $blue;
      padding-left: 5px;
    }
  }
  .next{
    text-align: right;
    float: right;
    div{
      border-right: 4px solid $blue;
      padding-right: 5px;
    }
  }
}

// 热门文章
.hot{
  flex: 0 0 29%;
  border: 1px solid $border;
  border-radius: 3px;
  height: 100%;

  h2{
    margin: 18px;
    line-height: 1;
    padding-left: 10px;
    border-left: 3px solid $primary;
    cursor: none;
    font-weight: bold;
  }
  .more{
    text-align: center;
    padding: 20px;
    a{
      @extend %btn-my-primary;
      padding: 0 45px !important;
      border-radius: 30px;
    }
  }

  >div:not(.more){
    border-top: 1px solid $border;
    border-bottom: 1px solid $border;
  }
  .hot-item{
    margin: 0 15px;
    padding: 15px  0 15px 53px;
    position: relative;
    border-bottom: 1px solid $border;
    &:last-child{
      border: none;
    }
    a{
      display: block;
      &:hover{
        color: $primary;
      }
    }
    img{
      position: absolute;
      width: 38px;
      height: 38px;
      top: 15px;
      left: 0;
      border-radius: 38px;
    }
    p{
      font-size: 12px;
      color: $note;
      margin-top: 10px;
    }
  }
}

@media screen and (max-width: 1000px){
  .article{
    display: block;
    margin-top: 20px;
    padding: 0 10px;
    .article-content{
      padding: 0;
    }
  }
}
@media screen and (max-width: 576px){
  .article{
    .article-content{
      h1{
        font-size: 24px;
        text-align: left !important;
        line-height: 1.5;
      }
      .article-info{
        margin: 20px 0;
        img{
          display: none;
        }
        .article-tag{
          display: none;
        }
        .article-date:before{
          display: none;
        }
        .article-author{
          color: $primary;
        }
      }
    } 
  }
  .article-nav{
    display: none;
  }
}