$font: #656D78;
$title: #2E313C;
$note: #AAB2BD;
$blue: #4788C7;
$border: rgb(233, 233, 233);
$font-family: -apple-system,
BlinkMacSystemFont,
"Segoe UI",
Roboto,
"Helvetica Neue",
Helvetica,
Tahoma，Arial,
"PingFang SC",
"Hiragino Sans GB",
"Heiti SC",
"Microsoft YaHei",
"WenQuanYi Micro Hei",
SimHei，sans-serif;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $font-family;
  font-size: 14px;
  padding: 0;
  margin: 0;
}

a,
h1,
h2,
p {
  text-decoration: none;
  &:hover,
  &:active,
  &:link,
  &:visited {
    color: inherit;
  }
}

@mixin text-overflow($line) {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: $line;
  overflow: hidden;
}

.tag {
  line-height: 50px;
  background: $border;
  >div {
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
    padding: 0 10px 0 100px;
  }
  h3 {
    position: absolute;
    top: 0;
    left: 10px;
    font-size: 14px;
    font-weight: normal;
    color: $font;
  }
  a {
    color: $font;
    text-decoration: none;
    padding: 0 30px;
    display: inline-block;
  }
}

.section {
  max-width: 1200px; // min-width: 960px;
  margin: 0 auto;
  padding: 0 10px;
  h1 {
    font-size: 18px;
    color: $title;
    padding: 40px 0 30px;
    text-align: center;
    font-weight: normal;
  }
  h2 {
    font-size: 16px;
    color: $title;
    margin-bottom: 5px;
    font-weight: normal;
    cursor: pointer;
  }
  p {
    color: $font;
    line-height: 1.5;
    height: 40px;
    overflow: hidden;
    text-overflow: ellipsis; // min-width: 250px;
    // max-width: 300px;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    -webkit-box-orient: vertical;
  }
}

// 12列布局，推荐课程
.row {
  display: flex;
  flex-flow: row wrap;
  >div,
  >a {
    border: 1px solid $border;
    border-radius: 3px;
    background: #fff;
    margin-bottom: 20px;
  }
  a {
    text-decoration: none;
  }
  .col-4 {
    flex: 0 0 32.2%;
    margin-right: 1.1%;
  }
  .col-3 {
    flex: 0 0 23.75%;
    margin-right: 1.25%;
  }
  .col-6 {
    flex: 0 0 48.88%;
    margin-right: 1.12%;
  }
  .col-9 {
    flex: 0 0 74.58%;
    display: flex;
    border: none;
    flex-flow: row wrap;
    justify-content: space-between;
  }
  .text {
    padding: 20px;
  }
  img {
    width: 100%;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    height: auto;
  }
  @media screen and (max-width: 576px) {
    .col-4,
    .col-3 {
      flex: 0 0 100%;
    }
  }
}

// 推荐教授
.section-professor {
  >div {
    position: relative;
    padding-left: 220px;
    height: 434px;
  }
  .left {
    height: 434px;
    position: absolute;
    top: 0;
    left: 0;
    border: 1px solid $border;
    border-radius: 3px;
    width: 200px;
    img {
      width: 100%;
    }
  }
  .col-6 {
    position: relative;
    padding: 20px;
    height: 207px;
    border-radius: 3px;
    border: 1px solid $border;
    overflow: auto;
    margin-bottom: 20px;
    &:nth-child(3),
    &:nth-child(4) {
      margin-bottom: 0;
    }
    img {
      position: absolute;
      width: 60px;
      top: 20px;
      left: 30px;
      border-radius: 30px;
      border: 2px solid $blue;
      cursor: pointer;
    }
    .brife {
      margin-left: 90px;
      min-height: 60px;
      margin-bottom: 20px;
    }
    .desc {
      border-top: 1px dashed $border;
      padding-top: 20px;
    }
  }
}

// 用户故事
.section-story {
  .left {
    flex: 1;
    display: flex;
    border: none;
    height: 380px;
    .first {
      flex: 0 0 35%;
      margin-right: 2%;
      border: 1px solid $border;
      img {
        border-radius: 0;
      }
      img:first-child {
        width: 100%;
        margin-bottom: 4px;
      }
      img:nth-child(2) {
        width: 49.3%;
        display: inline-block;
        height: auto;
      }
      img:nth-child(3) {
        width: 49.3%;
        display: inline-block;
        float: right;
        height: auto
      }
      h2 {
        margin: 20px;
        @include text-overflow(2)
      }
    }
    .second {
      flex: 0 0 63%;
      border: none;
      >div {
        position: relative;
        height: 180px;
        border: 1px solid $border;
        overflow: hidden;
        img {
          height: 100%;
          width: auto;
          position: absolute;
          top: 0;
        }
        &:first-child {
          padding: 20px 20px 20px 340px;
          margin-bottom: 20px;
          img {
            left: 0;
          }
        }
        &:last-child {
          padding: 20px 320px 20px 20px;
          img {
            right: 0;
          }
        }
        p {
          @include text-overflow(5)
        }
      }
    }
  }
  .right {
    flex: 0 0 200px;
    margin: 0 0 0 20px;
    border: none;
    img {
      height: 380px;
    }
  }
}

// 单图
.section-pic {
  img {
    width: 100%;
  }
  .mobile {
    display: none;
  }
  @media screen and (max-width:576px) {
    .pc {
      display: none;
    }
    .mobile {
      display: block;
    }
  }
}

// slide
.slider {
  position: relative;
  overflow: hidden;
  ul li {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    opacity: 0;
    transition: opacity 0.5s ease-in;
    img {
      width: 100%;
    }
    &:first-child {
      position: static;
    }
    &.slider-item-active {
      z-index: 2;
      opacity: 1;
      transition: opacity 0.5s ease-in;
    }
  }
  .dot {
    position: absolute;
    z-index: 3;
    bottom: 20px;
    right: 20px;
    list-style: none;
    li {
      display: inline-block;
      width: 36px;
      height: 36px;
      background: #fff;
      border: 1px solid #000;
      text-align: center;
      line-height: 36px;
      margin-right: 10px;
      cursor: pointer;
      &.dot-item-active {
        background: rgba(129, 211, 248, 1);
      }
    }
  }
  .prev {
    position: absolute;
    top: 50%;
    font-size: 30px;
    color: #fff;
    left: 20px;
    z-index: 4;
  }
  .next {
    position: absolute;
    top: 50%;
    font-size: 30px;
    right: 20px;
    color: #fff;
    z-index: 4;
  }
}

.slider-mobile {
  display: none;
}

@media screen and (max-width: 1000px) {
  .section-professor {
    >div {
      padding: 0;
    }
    .left {
      display: none;
    }
  }
  .section-story {
    .right {
      display: none;
    }
  }
}

@media screen and (max-width:768px) {
  .row {
    .col-3 {
      flex: 0 0 47.5%;
    }
  }
}

@media screen and (max-width:576px) {
  .row {
    .col-3,
    .col-4,
    .col-6 {
      flex: 0 0 100%;
      height: auto;
    }
  }
  .slider {
    .slider-pc,
    .prev,
    .next {
      display: none;
    }
    .slider-mobile {
      display: block;
    }
  }
  .section-story {
    .left {
      display: block;
      width: 100%;
      height: auto;
      .first,
      .second {
        flex: 0 0 100%;
        margin: 0 0 20px 0;
      }
    }
  }
  .section-professor {
    >div {
      height: auto;
    }
  }
}

.series-course {
  display: flex;
  width: 1065px;
  padding: 0;
  flex-wrap: wrap;
  .series-course-item {
    width: 355px;
    position: relative;
    &:after {
      content: '';
      width: 33px;
      height: 22.5px;
      display: block;
      position: absolute;
      right: 30px;
      top: 50%;
      background: url('../images/row.png') no-repeat;
      transform: translateY(-50%);
      background-size: 100%;
    }
    &.no-next:after {
      display: none;
    }
    &.no-next {
      .waiting {
        width: 156px;
        height: 156px;
        border-radius: 50%;
        color: #333333;
        top: 50%;
        left: 40px;
        margin-top: -78px;
        position: absolute;
        line-height: 156px;
        text-align: center;
        font-size: 32px;
        border: 1px solid #dedede;
        background: #fff;
      }
    }
    .series-course-block {
      width: 265px;
      display: block;
      background: #fff;
      border: 1px solid #e9e9e9;
      border-radius: 3px;
      background: #fff;
      margin-bottom: 20px;
    }
    img {
      width: 100%;
      height: auto;
    }
    .text {
      padding: 20px;
    }
  }
  p {}
}