.global-header {
  box-sizing: border-box;
  width: 100%;
  position: relative;
  overflow: hidden;
  padding-bottom: 10px;
  border-bottom: 1px solid #0075b4;
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.1);
  background: #fff;
  line-height: 1.5;
}
.global-header .header-logo a {
  float: left;
  margin: 21px 0 0 40px;
  display: block;
}
.global-header .nav-links .secondary .dropdown-user-menu {
  border: 1px solid #313131;
  position: absolute;
  background-color: #fff;
  color: #313131;
  right: 30px;
  top: 55px;
  z-index: 10;
  &.hidden {
    display: none;
  }
}
.window-wrap .global-header .nav-links .secondary .username {
  max-width: 200px;
  display: inline-block;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  vertical-align: top;
}
.global-header .nav-links .secondary .user-image-frame {
  border: 1px solid #e7e7e7;
  margin: -10px 5px;
  border-radius: 50%;
  width: 40px;
  vertical-align: middle;
}
.window-wrap .global-header .nav-links .secondary .nav-item {
  padding: 5px 0 0 0;
  margin: 4px 0 0 5px;
}
.global-header .nav-links .secondary .dropdown-user-menu .dropdown-item {
  a {
    font-weight: 400;
    padding: 10px 15px;
    display: inline-block;
    width: 100%;
    border-bottom: 1px solid #e7e7e7;
    &:hover {
      background: #e7e7e7;
    }
  }
  &:last-child {
    a {
      border: none;
    }
  }
}
.global-header .nav-links .secondary .toggle-user-dropdown {
  padding: 10px;
  text-decoration: none;
  cursor: pointer;
}
.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
@media (min-width: 992px) {
  .global-header .nav-links .main {
    float: left;
    margin: 36px 0 0 20px;
    padding: 0;
  }
  .global-header .nav-links .main .nav-tab {
    text-transform: none;
    padding: 0;
    cursor: pointer;
    margin: 0;
  }
  .global-header .nav-links .main .nav-item {
    float: left;
    text-transform: none;
    padding: 0;
    cursor: pointer;
    margin: 0;
    font-size: 16px;
    color: #666666;
  }
  .global-header .nav-links .main .nav-tab a {
    color: #666666;
    padding: 7px 25px 19px;
    font-weight: 400;
    display: inline-block;
    margin-bottom: -10px;
    border-bottom: 4px solid transparent;
    cursor: pointer;
    padding: 0 25px;
    border: none;
    text-decoration: none;
  }
  .global-header .nav-links .secondary {
    float: right;
    margin: 0;
    position: relative;
  }
  .global-header .nav-links .secondary .nav-item {
    font-size: 1rem;
    display: inline-block;
    padding: 5px 0 0 0;
    margin: 4px 0 0 5px;
    a {
      display: inline-block;
      text-decoration: none;
    }
  }
}
@media (max-width: 991px) {
  .global-header .hamburger-menu {
    left: 20px;
    position: absolute;
    top: 18px;
    width: 30px;
    height: 20px;
    padding-bottom: 5px;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
    cursor: pointer;
    outline: none;
  }
  .global-header .hamburger-menu .line {
    display: block;
    position: absolute;
    height: 5px;
    width: 100%;
    background: #767676;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0.25s ease-in-out;
    transition: 0.25s ease-in-out;
  }
  .global-header .hamburger-menu .line:nth-child(2),
  .global-header .hamburger-menu .line:nth-child(3) {
    top: 10px;
  }
  .global-header .hamburger-menu .line:nth-child(4) {
    top: 20px;
  }
  .global-header .hamburger-menu.open .line:nth-child(1) {
    top: 18px;
    width: 0%;
    left: 50%;
  }
  .global-header .hamburger-menu.open .line:nth-child(2) {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  .global-header .hamburger-menu.open .line:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
  .global-header .hamburger-menu.open .line:nth-child(4) {
    top: 18px;
    width: 0%;
    left: 50%;
  }
  .global-header .main-header {
    height: 60px;
    position: inherit;
  }
  .hidden-mobile:not(.mobile-nav-link) {
    display: none;
  }
  .global-header .header-logo a .logo {
    margin-left: -50%;
  }
  .mobile-menu {
    border-top: 1px solid #0075b4;
  }
  .mobile-menu .mobile-nav-link {
    position: static;
    transform: none;
    overflow: hidden;
    padding: 0;
  }
  .mobile-menu .mobile-nav-link a {
    font-size: 1rem;
    font-weight: 600;
    text-decoration: none;
    outline: none;
    display: block;
    background-color: #fff;
    border-radius: 0;
    width: 100%;
    padding: 12px 20px;
    border-bottom: 1px solid #e7e7e7;
    text-align: left;
    cursor: pointer;
    padding: 8px 20px;
    font-size: 0.875rem;
    box-sizing: border-box;
  }
  .global-header {
    a:not(.btn),
    a:visited:not(.btn) {
      color: #0075b4;
      font: inherit;
      text-decoration: none;
      transition: all 0.1s linear 0s;
    }
  }
}

@media (min-width: 992px) {
  .mobile-menu {
    display: none !important;
  }
}

// header
//头部
.window-wrap .global-header {
  border-bottom: none;
  overflow: inherit;
  z-index: 100;
  height: 96px;
  padding: 0 20px;

  .main-header {
    max-width: 1200px;
    margin: 0 auto;
    box-sizing: border-box;
  }
  .header-logo a {
    margin-left: 0px;
  }
  .header-logo a .logo {
    // height: 60px;
    width: 254px;
  }
  .header-logo .course-header {
    margin: 14px 0 0 20px;
    .course-name {
      max-width: 180px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      height: 16px;
    }
  }
  a.help-link {
    display: none !important;
  }
}

.window-wrap .global-header .nav-links .secondary {
  position: relative;

  a.sign-in-btn,
  .nav-item a.shopping-cart {
    @extend %btn-my-primary;
    margin-top: 8px;
    width: 65px !important;
    height: 32px !important;
    line-height: 32px !important;
    padding: 0 17px !important;
  }
  a.register-btn {
    @extend %btn-my-white;
    width: 65px !important;
    height: 32px !important;
    margin-top: 8px;
    line-height: 32px !important;
    padding: 0 17px !important;
  }
  .username {
    max-width: 200px;
    display: inline-block;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    vertical-align: top;
  }
}

@media screen and (max-width: 1150px) {
  .window-wrap .global-header .header-logo .course-header {
    display: none;
  }
}
@media screen and (max-width: 992px) {
  .window-wrap .global-header {
    padding: 0;
  }
  .global-header .hamburger-menu {
    left: 5%;
  }
  .window-wrap .global-header .header-logo a {
    position: relative;
    left: 50%;
  }
  .global-header .nav-links .secondary .dropdown-user-menu {
    border: 1px solid #eeeeee;
  }
  .global-header .hamburger-menu {
    outline: none;
    .line {
      height: 3px;
    }
  }

  .mobile-menu {
    .mobile-nav-link {
      outline: none;
      a {
        padding: 8px 20px;
        font-size: 0.875rem;
        box-sizing: border-box;
        &:hover {
          background-color: $primary;
          color: #fff !important;
        }
      }
    }
  }
}

@media screen and (min-width: 992px) {
  .window-wrap .global-header .nav-links .secondary {
    font-size: 0;
    margin: 16px 0 0 0;

    .user-image-frame {
      border: none;
    }
    .nav-item {
      padding: 5px 0 0 0;
      margin: 4px 0 0 10px;
    }
  }

  .global-header .nav-links .main .nav-tab {
    a {
      padding: 0 25px;
      border: none;
    }
    a:active,
    a:hover,
    a.active {
      border-bottom: none;
      color: $primary;
    }
  }
  .global-header .nav-links .secondary .dropdown-user-menu {
    border: 1px solid #e7e7e7;
  }
  .wrapper-messages-primary .message.message-upsell .action-upgrade {
    background: $green;
    box-shadow: none;
  }

  .global-header .nav-links .secondary .toggle-user-dropdown {
    outline: none;
  }
}

@media screen and (max-width: 576px) {
  .window-wrap .global-header .header-logo {
    display: block;
    text-align: center;
    a {
      left: inherit;
      display: inline-block;
      float: none;
      margin: 0 auto;
      padding-top: 5px;
      position: static;
    }
    a img {
      vertical-align: middle;
      margin-left: 0;
    }
  }
}
.mobile-menu.hidden {
  display: none !important;
}

//头像样式
@media screen and (min-width: 768px) {
  .global-header .nav-links .secondary .dropdown-user-menu {
    right: 8px;
    top: 79px;
  }
}

.home > header .title .course-search .search-button {
  box-sizing: border-box;
}
.window-wrap {
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
}
.window-wrap .content-wrapper {
  margin: 0 auto;
  max-width: none;
  width: 100%;
  flex: 1 0 auto;
  padding: 0;
  box-sizing: border-box;
  font-size: 14px;
  padding: 0 0 40px;
  position: relative;
}
.window-wrap .block-image {
  max-width: 1200px;
  margin: 0 auto;
  img {
    width: 100%;
    height: auto;
    display: block;
  }
}
.propaganda-block {
  max-width: 1200px;
  margin: 40px auto 0;
  position: relative;
  img {
    width: 100%;
    height: auto;
  }
  .propaganda-content {
    position: absolute;
    top: 50%;
    width: 100%;
    transform: translateY(-50%);
    text-align: center;
    h1 {
      font-size: 28px;
      font-weight: 400;
      color: #333;
      padding: 0 20px;
      // position: absolute;
      // top: 30px;
    }
    .vip-btn {
      @extend %btn-my-primary;
      margin: 0 auto;
      margin-top: 30px;
    }
    @media screen and (max-width: 576px) {
      h1 {
        font-size: 14px;
      }
    }
  }
}

.error_content {
  width: 855px;
  background-color: #ffffff;
  box-shadow: 0px 1px 4px 0px #b6dcfe;
  border-radius: 3px;
  margin: 66px auto;
  padding: 91px 10px;
  .error_img_pc {
    width: 196px;
    margin-left: 297px;
    display: block;
    margin-bottom: 24px;
  }
  h1,
  p {
    color: #2e313c;
    margin-bottom: 11px;
    font-size: 16px;
    text-align: center;
  }
  p {
    font-size: 14px;
  }
}

@media screen and (max-width: 768px) {
  .error_content {
    width: 90%;
    background-color: #ffffff;
    box-shadow: 0px 1px 4px 0px #b6dcfe;
    border-radius: 3px;
    margin: 66px auto;
    padding: 7% 10px;
    .error_img_pc {
      width: 36%;
      margin-left: 28%;
      display: block;
      margin-bottom: 24px;
    }
    h1,
    p {
      color: #2e313c;
      margin-bottom: 11px;
      font-size: 16px;
      text-align: center;
    }
  }
}
