// 用户故事
.section-story {
  .left {
    flex: 1;
    display: flex;
    border: none;

    .first{
      flex: 0 0 33.6%;
      border: 1px solid $border;
      font-size: 0;

      a:first-child{
        width: 100%;
        margin-bottom: 4px;
        display: inline-block;
      }
      a:nth-child(2){
        width: 50%;
        display: inline-block;
        height: auto;
        padding-right: 2px;
      }
      a:nth-child(3){
        width: 50%;
        display: inline-block;
        float: right;
        padding-left: 2px;
        height: auto
      }
      h2 {
        margin: 17px 20px;
        @include text-overflow(2, 16px)
      }
    }

    .second{
      flex: 0 0 64.4%;
      border: none;
      width: 0;
      overflow: hidden;
      margin: 0;
      background: none;
      >div {
        position: relative;
        height: 160px;
        border: 1px solid $border;
        overflow: hidden;
        margin: 0 10px;
        background: #fff;
        h2{
          @include text-overflow(1);
        }
        img {
          height: 100%;
          width: auto;
          position: absolute;
          top: 0;
        }
        &:first-child{
          padding: 20px 20px 20px 310px;
          margin-bottom: 20px;
          img {
            left: 0;
          }
        }
        &:last-child{
          padding: 20px 310px 20px 20px;
          img{
            right: 0;
          }
        }
        p {
          @include text-overflow(4)
        }
      }
    }
  }
  
  .right{
    flex: 0 0 150px;
    border: none;
    margin: 0 10px;
    img{
      height: 340px;
    }
  }
}

@media screen and (max-width: 1000px){
  .section-story {
    .right {
      display: none;
    }
  }
}

@media screen and (max-width: 576px){
  .section-story{
    .left{
      display: block;
      width: 100%;
      height: auto;
      .first,
      .second {
        flex: 0 0 100%;
        margin: 0 0 20px 0;
        height: auto;
      }
      .first{
        margin: 0 10px 20px 10px;
        h2{
          -webkit-line-clamp: inherit;
          max-height: inherit;
          overflow: auto;
        }
      }
      .second{
        width: auto;
        >div{
          height: auto;
          
          &:first-child, &:nth-child(2){
            padding: 0;
          }
          img{
            position: static;
            width: 100%;
          }
          h2{
            margin: 20px 20px 8px;
            overflow: hidden;
            white-space: initial;
          }
          p{
            margin: 0 20px 20px;
          }
        }
      }
    }
  }
}