@charset 'utf-8';
@import 'variables';
@import 'header'; 
@import 'footer';

@import 'notice';
@import 'slider';
@import 'tag';
@import 'component';
@import 'story';

@import 'article';
@import 'articleList';


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  overflow-x: hidden;
  overflow-y: auto;
}
body{
  font-family: $font-family;
  font-size: 14px;
  display: flex;
  width: 100vw;
  overflow-x: hidden;
  padding-left: calc(~"100vw - 100%");
}
a{
  text-decoration: none;
  &:hover,
  &:active,
  &:link,
  &:visited {
    color: inherit;
  }
}

.clearfix::before,
.clearfix::after {
  content: "";
  display: table;
}

.clearfix::after { clear: both; }
.clearfix { *zoom: 1; }
.wagtail-userbar-reset{
  display: none !important;
}