{% load wagtailimages_tags %}
<div class="hot">
    <h2>{{ pop_article.title }}</h2>
    <div class="">
        {% for article in pop_article.articles %}
            <div class="hot-item">
                {% if article.author_image %}
                    {% image article.author_image original as image %}
                    <img src="{{ image.url }}" />
                {% else %}
                    <img src="/static/images/article_author.png" />
                {% endif %}
                <a href="{{ article.get_url }}">{{ article.title }}</a>
                <p>{{ article.article_datetime|date:"Y-m-d H:i"}}</p>
            </div>   
        {% endfor %}
    </div>
    <div class="more">
        <a href="{{ pop_article.right_link }}">更多文章</a>
    </div>
</div>


