<div class="article-nav">
  {% if prev_url == '#' %}
    <div class="prev">
      <div>上一篇</div>
      <p>{{ prev_title }}</p>
    </div>
  {% else %}
    <a class="prev" href="{{ prev_url }}">
      <div>上一篇</div>
      <p>{{ prev_title }}</p>
    </a>
  {% endif %}

  {% if next_url == '#' %}
    <div class="next">
      <div>下一篇</div>
      <p>{{ next_title }}</p>
    </div>
  {% else %}
    <a class="next" href="{{ next_url }}">
      <div>下一篇</div>
      <p>{{ next_title }}</p>
    </a>
  {% endif %}
</div>