{% load wagtailimages_tags %}
<div class="section section-professor">
    <h1>{{ value.title }}</h1>
    <div>
        <div class="left">
            <a href="{{ value.professor_link }}" target="_blank">
               {% image value.professor_image original as tmp_photo %}
                <img src="{{ tmp_photo.url }}" />
            </a>
        </div>
        <div class="row">
            {% for item in value.professor %}
                <div class="col-6">
                    <div> 
                        <a href="{{ item.professor_link }}" target="_blank">
                            {% image item.professor_pic original as tmp_photo %}
                            <img src="{{ tmp_photo.url }}" />
                            <div class="brife">
                                <h2>{{ item.name }}</h2>
                                {% for sub_item in item.professor_degree %}
                                    <p>{{ sub_item }}</p>
                                {% endfor %}
                            </div>
                        </a>
                        <p class="desc">
                            {{ item.content }}
                        </p>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
