{% load wagtailimages_tags %}
<div class="section section-professor">
    <h1>{{ value.title }}</h1>
    <div>
        <div class="left">
            <a href="{{ value.professor_link }}" target="_blank">
               {% image value.professor_image width-400 as tmp_photo %}
                <img src="{{ tmp_photo.url }}" />
            </a>
        </div>
        <div class="row">
            {% for item in value.professor %}
                <div class="col-6">
                    <a href="{{ item.professor_pic_link }}" target="_blank">
                        {% image item.professor_pic width-400 as tmp_photo %}
                        <img src="{{ tmp_photo.url }}" />
                    </a>
                    <div class="brife">
                        <h2>萧柏春</h2>
                        {% for sub_item in item.professor_degree %}
                            <a href="{{ item.professor_degree_link }}" target="_blank"><p>{{ sub_item }}</p></a>
                        {% endfor %}
                    </div>
                    <p class="desc">
                        {{ item.content }}
                    </p>
                </div>
            {% endfor %}
        </div>
    </div>
</div>