{% load wagtailimages_tags %}
<div class="section section-recommand">
    <h1>{{ value.title }}</h1>
    <div class="row">
        {% for block in value.courses %} 
            <a class="col-3" href="{{ block.publicity_page_url }}" target="_blank">
                <div>
                    {% image block.image width-400 %}
                    <div class="text">
                        <h2>{{ block.title }}</h2>
                        <p> {{ block.description }} </p>
                    </div>
                </div>
            </a>
        {% endfor %} 
    </div>
</div>
    