{% load wagtailimages_tags %}

<div class="section series-course">
    <h1>{{ value.title }}</h1> 
    <div class="row">
    {% for block in value.series %}
        <div class="series-course-item">
            <a class="series-course-block" href="{{ block.link }}" target="_blank">
                {% image block.course_photo width-400 height-225 %}
                <div class="text">
                    <h2>{{ block.title }}</h2>
                    <p>{{ block.description }}</p>
                </div>
            </a>
        </div>
    {% endfor %}
    


    {% if value.has_update_or_nor %}
        <div class="series-course-item no-next">
            <img src="{% static 'images/coming.png' %}" />
        </div>
    {% endif %}
    </div> 

</div>

