{% load wagtailimages_tags %}
<div class="section section-story">
    <h1>{{value.title}}</h1>
    <div class="row">
        {% for item in value.story %}
            {% if item.photo_location == 'left' %}
                <div class="left">
            {% for sub_item in item.story_photo %}
                {% image sub_item width-400 %}
            {% endfor %}
            <a class="col-3" href="{{ item.story_link }}" target="_blank">
                <h2>{{ item.story_title }}</h2>
            </a>
            <p>{{ item.story_content }}</p>
        </div>
            {% endif %}
        {% endfor %}
        <div class="center">
            {% for item in value.story %}
                {% if item.photo_location == 'center' %}
                    <div>
                {% for sub_item in item.story_photo %}
                    {% image sub_item width-400 %}
                {% endfor %}
                <a class="col-3" href="{{ item.story_link }}" target="_blank">
                    <h2>{{ item.story_title }}</h2>
                </a>
                <p>{{ item.story_content }}</p>
            </div>
                {% endif %}
            {% endfor %}
        </div>
        <div class="right">
            <a class="col-3" href="{{ value.propaganda_link }}" target="_blank">
                {% image value.propaganda_image width-400 %}
            </a>
        </div>
        </a>
    </div>
</div>    