{% load wagtailimages_tags %}
<div class="section section-story">
    <h1>{{value.title}}</h1>
    <div class="row">
        <div class="left">
            {% for item in value.story %}
                {% if item.photo_location == 'left' %}
                    <div class="first">
                        {% for sub_item in item.story_photo %}
                            {% image sub_item original as tmp_photo %}
                            <a href="{{ item.story_link }}" target="_blank">
                                <img src="{{ tmp_photo.url }}" />
                            </a>
                        {% endfor %}
                        <a href="{{ item.story_link }}" target="_blank">
                          <h2>{{ item.story_title }}</h2>
                        </a>
                    </div>
                {% endif %}
            {% endfor %}
            <div class="second">
                {% for item in value.story %}
                    {% if item.photo_location == 'center' %}
                        <div>
                            {% for sub_item in item.story_photo %}
                                {% image sub_item original as tmp_photo %}
                                <a href="{{ item.story_link }}" target="_blank">
                                    <img src="{{ tmp_photo.url }}" />
                                </a>    
                            {% endfor %}
                            <h2>
                                <a href="{{ item.story_link }}" target="_blank">{{ item.story_title }}</a>
                            </h2>
                            <p>{{ item.story_content }}</p>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
        <a href="{{ value.propaganda_link }}" target="_blank" class="right">
            {% image value.propaganda_image original as tmp_photo %}
                <img src="{{ tmp_photo.url }}" />
        </a>
    </div>
</div>
