{% load wagtailimages_tags %}
<div class="section">

    <h1 style="text-align: left">必选课程</h1>
    {% for block in value.required_course %}
        <div class="row">
          <a class="col-3" href="{{ block.link }}" target="_blank">
            {% image block.course_photo width-250 height-160 %}
            <div class="text">
              <h2>{{ block.title }}</h2>
              <p> {{ block.description }} </p>
            </div>
          </a>
        </div>
      </div>
    {% endfor %}

    {% if value.optional_course %}
    <div class="section">
        <h1 style="text-align: left">可选课程</h1>
        {% for block in value.optional_course %}
            <div class="row">
              <a class="col-3" href="{{ block.link }}" target="_blank">
                {% image block.course_photo width-250 height-160 %}
                <div class="text">
                  <h2>{{ block.title }}</h2>
                  <p> {{ block.description }} </p>
                </div>
              </a>
            </div>
          </div>
        {% endfor %}
    {% endif %}

</div>
    