{% extends "base.html" %}
{% load static %}
{% load wagtailimages_tags %}
{% load wagtailcore_tags article_tags %}

{% block body_class %}template-homepage{% endblock %}

{% block extra_css %}
{% endblock extra_css %}

{% block content %}
<div class="window-wrap">
    {% include 'home/header.html' %}
    <main class="main content-wrapper">
        <div class="section">
            <div class="article">
                <div class="article-content">
                    <h1>{{ page.title }}</h1>
                    <div class="article-info">
                        {% image page.author_image original as image %}
                        <img src="{{ image.url }}" />
                        <span class="article-author">{{ page.author_name }}</span>
                        <span class="article-date">{{ page.article_datetime|date:"Y-m-d H:i" }}</span>
                        {% for tag in page.tags.all %}
                            <span class="article-tag">{{ tag }}</span>
                        {% endfor %}
                    </div>
                    <div class="article-raw">
                        {{ page.body }}
                    </div>
                    <div class="like">
                        <div onclick="like()">
                            <svg class="icon" style="width: 22px; height: 22px;overflow: hidden;" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="627"><path d="M884.876 423.143H646.97C739.156 82.68 583.454 65.29 583.454 65.29c-65.993 0-52.313 52.182-57.303 60.882 0 166.502-176.85 296.971-176.85 296.971v472.172c0 46.608 63.517 63.394 88.433 63.394h357.452c33.641 0 61.036-88.224 61.036-88.224 88.434-300.706 88.434-390.178 88.434-390.178 0.001-62.128-59.78-57.164-59.78-57.164z m0 0M251.671 423.3H109.215c-29.42 0-29.873 28.896-29.873 28.896l29.42 476.203c0 30.309 30.361 30.309 30.361 30.309H262.42c25.686 0 25.46-20.05 25.46-20.05V459.411c0-36.574-36.209-36.111-36.209-36.111z m0 0" p-id="628"></path></svg>
                            <div class="count">{{ page.liked_count }}</div>
                        </div>
                        <p>赞一个</p>
                    </div>
                    {% prev_and_next_article %}
                </div>
                {% if settings.home.PopularArticleSettings.display_popular_articles%}
                    {% popular_articles %}
                {% endif %}
            </div>
        </div>
    </main>
    {% include 'home/footer.html' %}
</div>
{% csrf_token %}
<script>
    var article_id = {{ page.id }};
    var csrftoken = $("[name=csrfmiddlewaretoken]").val();
    var liked = false;
    function csrfSafeMethod(method) {
        // these HTTP methods do not require CSRF protection
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }
    $.ajaxSetup({
        beforeSend: function(xhr, settings) {
            if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken);
            }
        }
    });
    function like(){
        if (liked) return false;
        liked = true;
        $.ajax({
            type: 'PUT',
            url: '/articles/' + article_id + '/liked/',
            success: function(res){
                $('.like > div').addClass('liked');
                $('.like .count').html(res.liked_count);
            }
        })
    } 

    // 获取设备类型
    var getQueryString = function(name) {
      var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)", "i"); 
      var r = window.location.search.substr(1).match(reg); 
      if (r != null) return unescape(r[2]); return null; 
    }


    var device = getQueryString('device');
    if(device != undefined){
      $('.global-header').hide();
      $('.my-footer').hide();
      var style = document.createElement('style');
      var css = "#newBridge{display:none !important}";
      if(style.styleSheet){
          style.styleSheet.cssText = css;
      }else{
          style.appendChild(document.createTextNode(css));
      }
      document.getElementsByTagName('head')[0].appendChild(style);
      
      // 热门文章列表，给a替换地址
      var elem = $('.hot-item a');
      for (var i = 0; i < elem.length; i++){
        var href = $(elem[i]).attr('href');
        if (device == 'ios'){
          $(elem[i]).attr('href', href + '?device=ios')
        } else {
          $(elem[i]).attr('href', href + '?device=android')
        }
      }
    }

    // app 
    // 更多文章
    $('.hot .more a').click(function(){
      if (!device){
        window.location.href = $(this).data('href');
      } else if (device == 'ios'){
        window.location.href = 'eliteu://gotoArticleList';
      } else{
        if (window.JsInterface) {
          JsInterface.gotoArticleList();
        }
      }
    });


    
  
</script>
{% comment %}
{% endcomment %}


{% endblock content %}