{% extends "base.html" %}
{% load static %}
{% load wagtailimages_tags %}
{% load wagtailcore_tags article_tags %}

{% block body_class %}template-homepage{% endblock %}

{% block extra_css %}
{% endblock extra_css %}

{% block content %}
<div class="window-wrap">
    {% include 'home/header.html' %}
    <main class="main content-wrapper">

        {{ page.title }}
        
        {% image page.author_image original as image %}
        <img src="{{ image.url }}" />
        {{ page.author_name }}
        {{ page.article_datetime }}

        {{ page.body }}

        <hr/>
        {% prev_and_next_article %}
        <hr/>

        {% if page.display_popular_articles %}
            {% popular_articles %}
        {% endif %}
    </main>
{% include 'home/footer.html' %}

</div>

{% comment %}
{% endcomment %}

{% endblock content %}
