{% extends "base.html" %}

{% load static i18n wagtailcore_tags wagtailimages_tags %}
{% load wagtailroutablepage_tags %}
{% load custom_tags %}

{% block body_class %}template-homepage{% endblock %}

{% block extra_css %}
{% endblock extra_css %}

{% block content %}
<div class="window-wrap">
    {% include 'home/header.html' %}
    <main class="main content-wrapper">
    <div class="section section-list">
        <h2>{{ article_page.title }}</h2>
        <div class="row-list" id="app" v-cloak>
            <div class="col-list">
                {% with per_page=article_page.num_entries_page %}
                    {% if article_page.display_tags %}
                        {% tags_list %}
                    {% endif %}
                    <div class="list-select">
                        <span v-on:click="getNewList" v-bind:class="[order == '-article_datetime' ? 'active' : '']">最新</span>
                        <span v-on:click="getHotList" v-bind:class="[order == '-liked_count' ? 'active' : '']">最热</span>
                    </div>
                    <div>
                    <a v-for="(item, index) in list" class="list-item" :href="item.meta.html_url">
                        <div class="col-3">
                            <img :src="item.article_cover ? item.article_cover.meta.download_url : {% static 'images/article_cover.png' %}" /> 
                        </div>
                        <div class="col-9">
                            <h3>${ item.title }</h3>
                            <p>${ item.description }</p>
                            <div>
                                <img class="item-avatar" :src="item.author_image ? item.author_image.meta.download_url : {% static 'images/article_author.png' %}" /> 
                                <span class="item-name">${ item.author_name }</span>
                                <span class="item-date">${ item.article_datetime }</span>
                                <svg class="icon" style="width: 11px; height: 11px;overflow: hidden;fill: #bbbbbb;vertical-align: baseline" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="627"><path d="M884.876 423.143H646.97C739.156 82.68 583.454 65.29 583.454 65.29c-65.993 0-52.313 52.182-57.303 60.882 0 166.502-176.85 296.971-176.85 296.971v472.172c0 46.608 63.517 63.394 88.433 63.394h357.452c33.641 0 61.036-88.224 61.036-88.224 88.434-300.706 88.434-390.178 88.434-390.178 0.001-62.128-59.78-57.164-59.78-57.164z m0 0M251.671 423.3H109.215c-29.42 0-29.873 28.896-29.873 28.896l29.42 476.203c0 30.309 30.361 30.309 30.361 30.309H262.42c25.686 0 25.46-20.05 25.46-20.05V459.411c0-36.574-36.209-36.111-36.209-36.111z m0 0" p-id="628"></path></svg>
                                ${ item.liked_count }
                                <div class="item-tag-group">
                                  <span class="item-tag" v-for="tag in item.tags">
                                      ${ tag }
                                  </span>
                                </div>
                            </div>
                        </div>                  
                    </a>
                    </div>
                    <!-- 骨架屏 -->
                    <div v-if="has_more" class="list-item list-item-skeleton">
                        <div class="col-3"></div>
                        <div class="col-9">
                            <h3></h3>
                            <p></p>
                            <div></div>
                        </div>
                    </div>
                    <div v-if="!has_more" class="list-bottom">
                      这个是底线~
                    </div>
                {% endwith %} 
            </div>
            <div class="col-ad">
                <h3>英荔商学院</h3>
                <img src="{% static 'images/qrcode.png' %}" />
                <p>关注英荔商学院<br/>第一时间获取文章</p>
            </div>
        </div>
    </div>
    </main>
    {% include 'home/footer.html' %}
</div>
<script type="text/javascript" src="{% static 'js/vue.js' %}"></script>
<script>
    var app = new Vue({
        el: '#app',
        delimiters: ['${', '}'],
        data: {
            list: [],
            total_count: 0,
            has_more: true,
            order: '',
            loading: false,
            tag: '',
            show_mobile_tag: false,
            isMobile: false,
        },
        methods:{
            getList: function(){
                if (this.loading || !this.has_more) return false;

                var that = this;
                var str_tag = this.tag ? ( '&&tags=' + encodeURIComponent(this.tag) ) : ''
                var str = 'offset=' + this.list.length + '&&limit=20&&order=' + this.order + str_tag;
                this.loading = true;
                
                $.ajax({
                    type: 'GET',
                    url: '/api/v2/pages/?type=home.ArticlePage&' + str + '&&fields=tags,author_image,article_datetime,article_cover,liked_count,description,author_name',
                    success: function(res){
                        if (res.meta){
                            var arr = that.list.length ? JSON.parse(JSON.stringify(that.list)).concat(res.items) : res.items;
                            that.total_count = res.meta.total_count;
                            that.list = arr;
                            
                            if (res.meta.total_count == that.list.length){
                                // 移除window.onscroll事件
                                that.has_more = false;
                                
                            }
                            that.loading = false;
                        }
                    }
                })
            },
            getHotList: function(){
                this.order = '-liked_count';
                this.initAndchangeHash();
                this.getList(0);
            },
            getNewList: function(){
                this.order = '-article_datetime';
                this.initAndchangeHash();
                this.getList(0);
            },
            showTag: function(tag){
                this.tag = tag;
                this.order = '-article_datetime';
                this.initAndchangeHash();
                this.getList(0)
            },
            handleScroll: function(){
                if($(window).scrollTop() + window.innerHeight > (document.body.clientHeight - 500)){
                    this.getList();
                }
            },
            handleResize: function(){
              if (document.body.clientWidth < 767){
                  this.isMobile = true;
                  $('.window-wrap .global-header').css('position', 'fixed');
                  $('.window-wrap .global-header .main-header').css('position', 'relative');
                } else {
                  this.isMobile = false;
                  $('.window-wrap .global-header').css('position', 'static');
                  $('.window-wrap .global-header .main-header').css('position', 'relative');
                }
            },
            initAndchangeHash: function(){
                this.has_more = true;
                this.list = [];
                if (this.isMobile) {
                  this.show_mobile_tag = false;
                  $(window).scrollTop(0);
                }
                // window.location.hash = '#' + decodeURI(this.tag) + '#' + this.order;
            },
            toggleMobileTag: function(){
              this.show_mobile_tag = !this.show_mobile_tag;
            }
        },
        mounted: function(){
            var that = this;
            
            // 根据url确定tag, order
            // var url = window.location.href.split('#');
            // this.tag = url.length > 1 ? decodeURI(url[1]) : '';
            // this.order = (url[2] && url[2] == '-liked_count' ) ? '-liked_count' : '-article_datetime';
            this.handleResize();
            this.getNewList();
            
            // 绑定scroll加载事件
            window.onscroll = function(){
              /*滚动响应区域高度取500px*/
              that.handleScroll();
            }
            window.onresize = function(){
              that.handleResize();
            }
        }
    })
</script>
{% comment %}
{% endcomment %}


{% endblock content %}
