{% load i18n %} {% load static %}
<style>
  #logo-show {
    display: none;
  }
  @media screen and (max-width: 768px) {
    #logo-show {
      display: inline-block;
      margin-bottom: 10px;
    }
  }
</style>

<div class="my-footer" style="padding-bottom: 22px; line-height: 1.4">
  <div class="footer-content clearfix" style="padding-bottom: 20px">
    <div class="footer-app" style="height: 180px">
      <img
        class="logo"
        src="http://www.eliteu.xyz/static/elitemba-theme/images/logo1.1acfd09e139d.png"
      />
      <a href="https://open.edx.org" target="_blank"
        ><img
          class="logo"
          src="http://www.eliteu.xyz/static/elitemba-theme/images/logo2.973e11eaad93.png"
          style="width: 168px; height: 41px; margin: 15px 0"
      /></a>
    </div>
    <div class="footer-links">
      <div class="footer-list" id="logo-show" style="width: 100%">
        <img
          class="logo"
          style="margin-right: 100px"
          src="https://www.elitemba.cn/static/normal-theme/images/logo.5cef1c16cb0a.png"
        />
        <a href="https://open.edx.org" target="_blank"
          ><img
            class="logo"
            src="{% static 'images/powered_by_Open_edX_logo.png' %}"
            style="width: 140px; height: 35px; margin: 15px 0"
        /></a>
      </div>

      <div class="footer-list">
        <ul>
          <li><a href="/about">{% trans "关于我们" %}</a></li>
          <li><a href="/contact">{% trans "使用手册" %}</a></li>
        </ul>
      </div>

      <div class="footer-list">
        <ul>
          <li><a href="/manual">{% trans "用户协议" %}</a></li>
          <!--<li><a href="">充值与支付</a></li>-->
          <li><a href="/contact">{% trans "隐私政策" %}</a></li>
          <li><a href="/join_us">{% trans "免责声明" %}</a></li>
        </ul>
      </div>
    </div>

    <div class="footer-wechat" style="height: 180px">
      <img
        src="http://www.eliteu.xyz/static/elitemba-theme/images/qrcode1.25dcba8b87fc.png"
        class="footer-qrcode"
      />
      <div>
        英荔创造乐园<br />
        微信公众号
      </div>
    </div>
  </div>
  <footer class="footer">
    <div class="footer-text" style="margin-top: 20px">
      © 2021 广东英荔国际教育科技有限公司 版权所有
      <a
        href="{{ settings.home.EliteVariableSettings.elite_filing_website }}"
        target="_blank"
        >粤 ICP 备 13044168 号</a
      >
      edX 和 Open edX 为 edX Inc. 的注册商标，版权所有。
    </div>
  </footer>
</div>
<script type="text/javascript" src="{% static 'js/pangu.min.js' %}"></script>
<script>
  document.addEventListener('DOMContentLoaded', () => {
    pangu.autoSpacingPage()
  })
</script>
