{% load i18n %} 
<header class="global-header ">
    <div class="main-header">
        <h1 class="header-logo">
            <!--<a href="/dashboard">-->
            {% get_current_language as LANGUAGE_CODE %}
            {% language LANGUAGE_CODE %}
            <a href="{% url 'wagtail_serve' '' %}">
                <img class="logo" src="https://www.elitemba.cn/static/normal-theme/images/logo.5cef1c16cb0a.png"
                    alt="英荔商学院 主页">
            </a>
            {% endlanguage %}
        </h1>

        <div class="hamburger-menu" role="button" aria-label="选项栏" aria-expanded="false" aria-controls="mobile-menu"
            tabindex="0">
            <span class="line"></span>
            <span class="line"></span>
            <span class="line"></span>
            <span class="line"></span>
        </div>
        <nav class="nav-links" aria-label="补充内容链接">
            <div class="main">
                <div class="mobile-nav-item hidden-mobile nav-item nav-tab">
                    <a class="tab-nav-link" href="/all_courses">{% trans "发现课程" %}</a>
                </div>
                <div class="mobile-nav-item hidden-mobile nav-item nav-tab">
                    <a class="tab-nav-link" href="/vip">
                        {% trans "会员资格" %}
                    </a>
                </div>
                <div class="mobile-nav-item hidden-mobile nav-item nav-tab">
                    <a class="tab-nav-link" href="/professors/">
                        {% trans "教授" %}
                    </a>
                </div>
            </div>
            <div style="display:none;" class="secondary logout">
                <div>
                    <div class="mobile-nav-item hidden-mobile nav-item">
                        <a class="register-btn btn" href="/register?next=%2F">{% trans "注册" %}</a>
                    </div>
                    <div class="mobile-nav-item hidden-mobile nav-item">
                        <a class="sign-in-btn btn" href="/login/">{% trans "登录" %}</a>
                    </div>
                </div>
            </div>
            <div style="display:none;" class="secondary login">
                <div class="mobile-nav-item hidden-mobile nav-item">
                    <a class="help-link" href="https://www.elitemba.cn/contact" target="_blank">{% trans "帮助" %}</a>
                </div>
                <div class="nav-item hidden-mobile">
                    <a href="/dashboard" class="menu-title">
                        <img class="user-image-frame"
                            src="https://www.elitemba.cn/static/normal-theme/images/profiles/default_50.29c934973e9e.png" alt="">
                        <!-- <span class="sr-only">{% trans "课程面板：</span> -->
                        <span class="username"></span>
                    </a>
                </div>
                <div class="nav-item hidden-mobile nav-item-dropdown" tabindex="-1">
                    <div class="toggle-user-dropdown open" role="button" aria-label="选项栏" aria-expanded="true"
                        tabindex="0" aria-controls="user-menu">
                        <svg viewBox="0 0 1024 1024" class="" data-icon="caret-down" width="13px" height="13px" style="position: relative; top: 2px;" fill="currentColor" aria-hidden="true" focusable="false"><path d="M840.4 300H183.6c-19.7 0-30.7 20.8-18.5 35l328.4 380.8c9.4 10.9 27.5 10.9 37 0L858.9 335c12.2-14.2 1.2-35-18.5-35z"></path></svg>
                    </div>
                    <div class="dropdown-user-menu hidden" aria-label="更多选项" role="menu" id="user-menu" tabindex="-1">
                        <div class="mobile-nav-item dropdown-item dropdown-nav-item"><a href="/dashboard"
                                role="menuitem">{% trans "课程面板" %}</a></div>
                        <div class="mobile-nav-item dropdown-item dropdown-nav-item">
                            <a class="user-url" href="/u/crewss" role="menuitem">{% trans "用户资料" %}</a>
                        </div>
                        <div class="mobile-nav-item dropdown-item dropdown-nav-item"><a href="/account/settings"
                                role="menuitem">{% trans "账号" %}</a></div>
                        <div class="mobile-nav-item dropdown-item dropdown-nav-item"><a href="/vip/card"
                                role="menuitem">{% trans "会员中心" %}</a></div>
                        <div class="mobile-nav-item dropdown-item dropdown-nav-item"><a href="/logout"
                                role="menuitem">{% trans "退出" %}</a></div>
                    </div>
                </div>
            </div>
        </nav>

    </div>
    <div class="mobile-menu hidden" aria-label="更多选项" role="menu" id="mobile-menu">
        <div class="mobile-nav-item hidden-mobile nav-item nav-tab mobile-nav-link">
            <a class="tab-nav-link" href="/all_courses" role="menuitem">{% trans "发现课程" %}</a>
        </div>
        <div class="mobile-nav-item hidden-mobile nav-item nav-tab mobile-nav-link">
            <a class="tab-nav-link" href="/vip" role="menuitem">
                {% trans "会员资格" %}
            </a>
        </div>
        <div class="mobile-nav-item hidden-mobile nav-item nav-tab mobile-nav-link">
            <a class="tab-nav-link" href="/professors/" role="menuitem">
                {% trans "教授" %}
            </a>
        </div>
        <div class="mobile-nav-item hidden-mobile nav-item mobile-nav-link">
            <a class="register-btn btn" href="/register?next=%2F" role="menuitem">{% trans "注册" %}</a>
        </div>
        <div class="mobile-nav-item hidden-mobile nav-item mobile-nav-link">
            <a class="sign-in-btn btn" href="/login/" role="menuitem">{% trans "登录" %}</a>
        </div>
    </div>
</header>
