<header class="global-header ">
    <div class="main-header">
        <h1 class="header-logo">
            <!--<a href="/dashboard">-->
            <a href="/">
                <img class="logo" src="https://www.elitemba.cn/static/normal-theme/images/logo.5cef1c16cb0a.png"
                    alt="英荔商学院 主页">
            </a>
        </h1>

        <div class="hamburger-menu" role="button" aria-label="选项栏" aria-expanded="false" aria-controls="mobile-menu"
            tabindex="0">
            <span class="line"></span>
            <span class="line"></span>
            <span class="line"></span>
            <span class="line"></span>
        </div>
        <nav class="nav-links" aria-label="补充内容链接">
            <div class="main">
                <div class="mobile-nav-item hidden-mobile nav-item nav-tab">
                    <a class="tab-nav-link" href="/courses">发现课程</a>
                </div>
                <div class="mobile-nav-item hidden-mobile nav-item nav-tab">
                    <a class="tab-nav-link" href="/vip">
                        会员资格
                    </a>
                </div>
                <div class="mobile-nav-item hidden-mobile nav-item nav-tab">
                    <a class="tab-nav-link" href="/professors/">
                        教授
                    </a>
                </div>
            </div>
            <div class="secondary">
                <div>
                    <div class="mobile-nav-item hidden-mobile nav-item">
                        <a class="register-btn btn" href="/register?next=%2F">注册</a>
                    </div>
                    <div class="mobile-nav-item hidden-mobile nav-item">
                        <a class="sign-in-btn btn" href="/login?next=%2F">登录</a>
                    </div>
                </div>
            </div>
        </nav>

    </div>
    <div class="mobile-menu hidden" aria-label="更多选项" role="menu" id="mobile-menu">
        <div class="mobile-nav-item hidden-mobile nav-item nav-tab mobile-nav-link">
            <a class="tab-nav-link" href="/courses" role="menuitem">发现课程</a>
        </div>
        <div class="mobile-nav-item hidden-mobile nav-item nav-tab mobile-nav-link">
            <a class="tab-nav-link" href="/vip" role="menuitem">
                会员资格
            </a>
        </div>
        <div class="mobile-nav-item hidden-mobile nav-item nav-tab mobile-nav-link">
            <a class="tab-nav-link" href="/professors/" role="menuitem">
                教授
            </a>
        </div>
        <div class="mobile-nav-item hidden-mobile nav-item mobile-nav-link">
            <a class="register-btn btn" href="/register?next=%2F" role="menuitem">注册</a>
        </div>
        <div class="mobile-nav-item hidden-mobile nav-item mobile-nav-link">
            <a class="sign-in-btn btn" href="/login?next=%2F" role="menuitem">登录</a>
        </div>
    </div>
</header>